{% extends "k_base.html" %}
{% load static %}


{% block body %}
{% if messages  %}

    {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    {% endfor %}


{% endif %}

<div class="card bg-white ">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Change Password</h4>
        <p class="card-category"> Change Password From Here</p>
    </div><br>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">Old Password:</label>
                    {{ form.old_password }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">New Password:</label>
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">Confirm Password:</label>
                    {{ form.new_password2 }}
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-info" type="submit">Set New Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
