<!DOCTYPE html>
{% extends 'uni_base.html' %}

{% block body %}
<div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Students</h4>
                  <p class="card-category"> Manage Students From Here</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          Visitors Image
                        </th>
                        <th>
                          Visitors Name
                        </th>
                        <th>
                            Email
                        </th>
                          <th>
                            Mobile No
                        </th>
                          <th>
                            Field
                        </th>
                          <th>
                            Semester
                        </th>
                          <th>
                            Details
                        </th>


                      </tr>
                      </thead>
                      <tbody>
                      {% for i in student %}
                        <tr>
                          <td>
                            {{ forloop.counter }}
                          </td>
                          <td>
                              {% if i.profile_photo %}
                            <img src="{{ i.profile_photo.url }}" width="80px" height="50px">
                              {% endif %}
                          </td>
                          <td>
                            {{ i.user.first_name }} {{ i.user.last_name }}
                          </td>
                          <td>
                            {{ i.user.email }}
                          </td>
                        <td>
                            {{ i.mobile_no }}
                          </td>
                        <td>
                            {{ i.field }}
                          </td>
                        <td>
                           {{ i.semester }}
                        </td>
                        <td class="td-actions">
                          <a href="{% url 'university:edit_student' i.id %}" class="btn btn-success" data-original-title="" title="">
                                <i class="material-icons">edit</i>
                            <div class="ripple-container"></div></a>
                             <a href="{% url 'university:delete_student' i.id %}" class="btn btn-danger" data-original-title="" title="">
                                <i class="material-icons">close</i>
                            </a>

                        </td>

                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}