
<!DOCTYPE html>
{% extends 'r_base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}

    {% if messages  %}

    {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    {% endfor %}


{% endif %}


    <div class="card bg-white">
      <div class="card-header card-header-primary p-2">
                 <CENTER><h4 class="card-title ">LOGIN</h4></CENTER>

                </div><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Username:</label>
            <input type="text" name="username" class="form-control">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
    </div>




    <center><button class="btn btn-success" type="submit">submit</button></center>
</form>
     <center><a href="{% url 'password_reset' %}">Forget Password</a></center>
    </div>
{% endblock %}