<!DOCTYPE html>
{% extends 'c_base.html' %}

{% block body %}
<div class="card bg-white ">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Add Speaker</h4>
        <p class="card-category"> Add Speaker From Here</p>
    </div><br>
        <div class="card-body">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}


    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Speakers Name:</label>
            {{ form.Name }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Description:</label>
            {{ form.description }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Email:</label>
            {{ form.Email }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Gender:</label>
            {{ form.Gender }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="bmd-label-floating">Mobile Number:</label>
            {{ form.mobile_no }}
        </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label class="">Choose Event:</label>
          {{ form.event }}

      </div>
    </div>

    <center><button class="btn btn-success" type="submit">submit</button></center>
</form>
        </div>
    </div>
{% endblock %}