{% extends "r_base.html" %}

{% block body %}
    <div class="card bg-white ">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Change Password</h4>
        <p class="card-category">Change Password From Here</p>
    </div><br>
        <div class="card-body">
            <form method="POST">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">New Password:</label>
                    {{ form.new_password1 }}
                </div>
            </div>
                <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">Confirm Password:</label>
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Request Password Reset</button>
            </div>
        </form>

        </div>
    </div>



{% endblock body %}